*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    min-height: 100vh;

    overflow:hidden;
    user-select:none;

    background:#ffffff;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* Khung game */

.game{
    position: relative;
    width:min(100vw, 177.777778vh);
    aspect-ratio:16 / 9;
    overflow:hidden;
}

/* Ảnh nền */

.background{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit: cover;

    z-index: 0;
    pointer-events: none;
}


/* Lá */

.leaf{
    position:absolute;

    z-index:2;

    cursor:grab;
    user-select:none;
}

/* Lá số 7 */

.leaf12{
    width:17.19%;

    top:0.93%;
    left:0.05%;


}
.leaf13{
    width:20.83%;

    top:0.09%;
    left:20.83%;


}
.leaf14{
    width:14.58%;

    top:0.93%;
    left:10.42%;


}
.leaf15{
    width:17.19%;

    top:27.78%;
    left:15.63%;


}
/* Hiệu ứng đung đưa nhẹ */

@keyframes sway{

    0%{
        transform:rotate(-1deg);
    }

    50%{
        transform:rotate(1deg);
    }

    100%{
        transform:rotate(-1deg);
    }
}

/* Ô nhập đáp án */

.answer-container{
    position: absolute;

    bottom:1.85%;
    right:1.04%;

    z-index: 1000;

    display: flex;
    gap:clamp(5px, 0.52vw, 10px);
    background: rgba(255,255,255,0.2);
    padding:clamp(5px, 0.52vw, 10px);
    border-radius:clamp(6px, 0.52vw, 10px);
    backdrop-filter: blur(5px);

}

.answer-container input{
    width:clamp(125px, 13.02vw, 250px);

    padding:clamp(6px, 0.52vw, 10px);

    border:none;
    border-radius:8px;

    font-size:clamp(14px, 0.94vw, 18px);
}

.answer-container button{
    padding:clamp(6px, 0.52vw, 10px) clamp(10px, 1.04vw, 20px);

    border:none;
    border-radius:8px;

    cursor:pointer;

    font-size:clamp(14px, 0.94vw, 18px);
}

#message{
    color:red;
    font-size:clamp(14px, 0.94vw, 18px);
    font-weight:bold;
    margin-left:10px;
}
